<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审计机构</title>
    <link th:href="@{/css/all.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/js/bstable/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/js/bstable/css/bootstrap-table.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/demo/demo.css}">
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.easyui.min.js}"></script>
    <style>
        *{margin: 0;padding: 0;}
        #top{
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
        #buttom{
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
    <div id="top">
        <div id="toolbar1" class="btn-group" style="margin-left:10px;">
            <button onclick="xz()" id="btn_add" type="button" class="btn btn-default">
                <span  class="glyphicon glyphicon-plus" style="color: lightgreen" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" style="color: lightpink" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" style="color: lightyellow" aria-hidden="true"></span>删除
            </button>
            <button onclick="SearchAudited()" id="btn_search" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search" style="color: lightblue" aria-hidden="true"></span>查询被审计的部门
            </button>
        </div>
        <table data-url="json/data_alae_list.json" id="table1" class="table_style" style="margin: 0 auto" >
        </table>
    </div>
    <div id="buttom">
        <table data-url="json/data_alae_list.json" id="table2" class="table_style" style="margin: 0 auto" >
        </table>
    </div>

    <script th:src="@{/js/jQuery-1.8.3.js}"></script>
    <script th:src="@{/js/bstable/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bstable/js/bootstrap-table.js}"></script>
    <script th:src="@{/js/bstable/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/js/date/js/laydate.js}"></script>

    <script type="text/javascript">
        function SearchAudited(){
            $("#table2").bootstrapTable('destroy');
            var a= $('#table1').bootstrapTable('getSelections');
            if(a.length==1){
                var abCode=a[0].abCode;
                alert(abCode)
                $('#table2').bootstrapTable({
                    striped: false,
                    clickToSelect: true,
                    singleSelect: true,
                    toolbar: '#toolbar2',
                    pageList: [1, 2, 5, 10],
                    pagination: true, //分页
                    pageSize: 5,
                    pageNumber: 1,
                    search: false, //显示搜索框
                    strictSearch: true,
                    contentType: "application/x-www-form-urlencoded",
                    showRefresh: false,
                    queryParams: null,
                    ajax:function(request){
                        $.ajax({
                            url: "getAdministrationByAbCode?abCode="+abCode,
                            type:'POST',
                            data:'data',
                            dataType: "json",
                            success:function(data){
                                request.success({
                                    row : data
                                });
                                $('#table2').bootstrapTable('load', data);
                            },
                            error:function(){
                                console.log("查询失败，请联系管理员");
                            }
                        })
                    },
                    columns: [
                        {
                            title: '被审计机构名称',
                            field: 'aiName',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: '代码',
                            field: 'aiCode',
                            align: 'center',
                            valign: 'middle'
                        }
                    ]
                });
            }else{
                alert("请选中一行")
            }

        }


        $(function () {
            $('#table1').bootstrapTable({
                method: "get",
                striped: false,
                clickToSelect: true,
                singleSelect: true,
                url: "getAuditBody",
                dataType: "json",
                toolbar: '#toolbar1',
                pageList: [1, 2, 5, 10],
                pagination: true, //分页
                pageSize: 10,
                pageNumber: 1,
                search: false, //显示搜索框
                strictSearch: true,
                contentType: "application/x-www-form-urlencoded",
                showRefresh: false,
                queryParams: null,
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        title: '审计机构名称',
                        field: 'abName',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '代码',
                        field: 'abCode',
                        align: 'center',
                        valign: 'middle'
                    }
                ]
            });
        })
    </script>
    <script th:src="@{/js/layer_v2.1/layer/layer.js}"></script>
    <script>
        function openlayer(id){
            layer.open({
                type: 2,
                title: '添加信息',
                shadeClose: true,
                shade: 0.5,
                skin: 'layui-layer-rim',
//            maxmin: true,
                closeBtn:1,
                area: ['98%', '92%'],
                shadeClose: true,
                closeBtn: 1,
                content: 'lay01.html'
                //iframe的url
            });
        }
    </script>
</body>
</html>