<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审计机构</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/all.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/js/bstable/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/js/bstable/css/bootstrap-table.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.7.0/demo/demo.css}">
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-easyui-1.7.0/jquery.easyui.min.js}"></script>
    <style>
        *{margin: 0;padding: 0;}
        #top{
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
        #buttom{
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
        .moadd{
            width: 350px;
            height:50px;
            text-indent:2em;
        }
        .moadd:hover{
            width: 350px;
            height:50px;
            text-indent:2em;
            border: 1px solid lightblue;
            box-shadow:0 0 20px rgba(0,0,0,0.2);
        }
        .modal-body{
            margin-left:70px;
        }
        .modal-body div{
            margin-top: 50px;
        }
        label{
            font-size: 18px;
            color: lightgreen;
        }
    </style>
</head>
<body>
    <div id="top">
        <div id="toolbar1" class="btn-group" style="margin-left:10px;">
            <button id="btn_add" data-toggle="modal" data-target="#addAudit" type="button" class="btn btn-default">
                <span  class="glyphicon glyphicon-plus" style="color: lightgreen" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" onclick="editAudit()" data-toggle="modal" data-target="#editAudit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" style="color: lightpink" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" onclick="removeAudit()" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" style="color: lightyellow" aria-hidden="true"></span>删除
            </button>
            <button onclick="SearchAudited()" id="btn_search" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search" style="color: lightblue" aria-hidden="true"></span>查询被审计的部门
            </button>
        </div>
        <table data-url="json/data_alae_list.json" id="table1" class="table_style" style="margin: 0 auto" >
        </table>
    </div>
    <div id="buttom">
        <table data-url="json/data_alae_list.json" id="table2" class="table_style" style="margin: 0 auto" >
        </table>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addAudit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;color: lightgreen">增加审计机构</h4>
                </div>
                <div class="modal-body">
                    <form method="post" class="addAudimtform" action="##" onsubmit="return false" >
                    <div>
                        <label>上级:&nbsp;</label>
                        <select name="parentCode" class="moadd">
                            <option value="0">无</option>
                            <span  th:each="bp:${byParentCode}">
                                <option th:value="${bp.abCode}" th:text="${bp.abName}"></option>
                            </span>
                        </select>
                    </div>
                    <div>
                        <label>代码:&nbsp;</label><input type="text" name="abCode" class="moadd">
                    </div>
                    <div>
                        <label>名称:&nbsp;</label><input type="text" name="abName" class="moadd">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="saveAduit()" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="editAudit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2" style="font-weight: bold;color: lightgreen">修改审计机构</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label>上级:&nbsp;</label>
                        <select th:id="parent" name="parentCode" class="moadd">
                            <option value="0">无</option>
                            <span  th:each="bp:${byParentCode}">
                                <option th:value="${bp.abCode}" th:text="${bp.abName}"></option>
                            </span>
                        </select>
                    </div>
                    <div>
                        <label>代码:&nbsp;</label><input id="abcode" type="text" name="abCode" class="moadd">
                    </div>
                    <div>
                        <label>名称:&nbsp;</label><input id="abname" type="text" name="abName" class="moadd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jQuery-1.8.3.js}"></script>
    <script th:src="@{/js/bstable/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bstable/js/bootstrap-table.js}"></script>
    <script th:src="@{/js/bstable/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/js/date/js/laydate.js}"></script>

    <script type="text/javascript">
        function editAudit() {
            var val=$("#table1").bootstrapTable("getSelections");
            if(val.length==1) {
                var abCode = val[0].abCode;
                $.ajax({
                    cache:false,
                    type:'POST',
                    url:'showAuditBody?abCode='+abCode,
                    data:'data',
                    error:function () {
                        alert("查询失败，请联系管理员!");
                    },
                    success:function (object) {
                        object.parentCode;
                        $("#abcode").val(object.abCode);
                        $("#abname").val(object.abName);
                    }
                })
            }else{
                alert("请选中一行");
            }
        }
        
        function removeAudit() {
            var val=$("#table1").bootstrapTable("getSelections");
            if(val.length==1){
                var abCode=val[0].abCode;
                var i=confirm("确定要删除这个审计机构吗?");
                if(i==true){
                    $.ajax({
                        cache:false,
                        type:"POST",
                        url:'removeAuditBody?abCode='+abCode,
                        error:function () {
                            alert("与服务器断开连接!");
                        },success:function (bool) {
                            if(bool==true){
                                alert("删除审计机构成功!");
                                window.location.href="auditingHtml";
                            }else if(bool==false){
                                alert("删除审计机构失败!");
                                window.location.href="auditingHtml";
                            }
                        }
                    })
                }else{
                    return;
                }
            }else{
                alert("您没选中一行")
            }
        }

        function saveAduit() {
            $.ajax({
                cache:false,
                type:'POST',
                url:'saveAduitBody',
                data:$(".addAudimtform").serialize(),
                error:function () {
                    alert("与服务器断开连接")
                },success:function (str) {
                    if(str=="1"){
                        alert("添加审计机构成功!");
                        window.location.href="auditingHtml";
                    }else if(str=="00"){
                        alert("代码或名称不能为空!");
                        window.location.href="auditingHtml";
                    }else if(str=="0"){
                        alert("系统错误!");
                        window.location.href="auditingHtml";
                    }
                }
            })
        }

        function SearchAudited(){
            $("#table2").bootstrapTable('destroy');
            var a= $('#table1').bootstrapTable('getSelections');
            if(a.length==1){
                var abCode=a[0].abCode;
                $('#table2').bootstrapTable({
                    striped: false,
                    clickToSelect: true,
                    singleSelect: true,
                    toolbar: '#toolbar2',
                    pageList: [1, 2, 5, 10],
                    pagination: true, //分页
                    pageSize: 5,
                    pageNumber: 1,
                    search: false, //显示搜索框
                    strictSearch: true,
                    contentType: "application/x-www-form-urlencoded",
                    showRefresh: false,
                    queryParams: null,
                    ajax:function(request){
                        $.ajax({
                            url: "getAdministrationByAbCode?abCode="+abCode,
                            type:'POST',
                            data:'data',
                            dataType: "json",
                            success:function(data){
                                request.success({
                                    row : data
                                });
                                $('#table2').bootstrapTable('load', data);
                            },
                            error:function(){
                                console.log("查询失败，请联系管理员");
                            }
                        })
                    },
                    columns: [
                        {
                            title: '被审计机构名称',
                            field: 'aiName',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: '代码',
                            field: 'aiCode',
                            align: 'center',
                            valign: 'middle'
                        }
                    ]
                });
            }else{
                alert("请选中一行")
            }

        }

        $(function () {
            $("#table1").bootstrapTable("destroy");
            $('#table1').bootstrapTable({
                striped: false,
                clickToSelect: true,
                singleSelect: true,
                toolbar: '#toolbar1',
                pageList: [1, 2, 5, 10],
                pagination: true, //分页
                pageSize: 10,
                pageNumber: 1,
                search: false, //显示搜索框
                strictSearch: true,
                contentType: "application/x-www-form-urlencoded",
                showRefresh: false,
                queryParams: null,
                ajax:function(request){
                  $.ajax({
                      type:'get',
                      url: "getAuditBody",
                      data:'data',
                      dataType: "json",
                      success:function(data){
                          request.success({
                              row : data
                          });
                          $('#table1').bootstrapTable('load', data);
                      },
                      error:function(){
                          console.log("查询失败，请联系管理员");
                      }
                  })
                },
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        title: '审计机构名称',
                        field: 'abName',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '代码',
                        field: 'abCode',
                        align: 'center',
                        valign: 'middle'
                    }
                ]
            });
        })
    </script>
    <script th:src="@{/js/layer_v2.1/layer/layer.js}"></script>
    <script>
        function openlayer(id){
            layer.open({
                type: 2,
                title: '添加信息',
                shadeClose: true,
                shade: 0.5,
                skin: 'layui-layer-rim',
//            maxmin: true,
                closeBtn:1,
                area: ['98%', '92%'],
                shadeClose: true,
                closeBtn: 1,
                content: 'lay01.html'
                //iframe的url
            });
        }
    </script>
</body>
</html>