<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>操作日志</title>

    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="panel panel-default">

    <div align="right" style="padding-right: 20px">
        <input id="search" type="text"style="width: 200px;height: 35px" placeholder="请输入关键字">
        <button class="btn btn-info"> <i class="fa fa-search"></i></button>
        <button class="btn btn-info" id="search-plus"> <i class="fa fa-search-plus"></i>高级查询</button>

    </div>
    <div id="b" style="border:  1px solid black;width:450px;float: right;position: absolute;right: 0;z-index: 100;background: white;display: none">
        <div>
            <form class="form-horizontal" id="myform" role="form">
                <div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label">用户名:</label>
                    <div class="col-sm-8">
                        <input type="text" name="userCode" class="form-control" id="userCode" placeholder="请输入名字">
                    </div>
                </div>
                <!--<div class="form-group">
                    <label  class="col-sm-3 control-label">用户所在机构:</label>
                    <div class="col-sm-8">
                        <select class="form-control" >
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>-->
                <div class="form-group">
                    <label  class="col-sm-3 control-label">操作日期:</label>
                    <div class="col-sm-8">
                        <input type="date" name="startTime" id="startTime" class="form-control" style="width: 140px;display: inline-block">
                        -<input type="date" name="endTime" id="endTime" class="form-control" style="width: 140px;display: inline-block" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">模块:</label>
                    <div class="col-sm-8">
                        <input type="text" name="model" id="model" class="form-control"  placeholder="请输入名字">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">操作内容:</label>
                    <div class="col-sm-8">
                        <textarea type="text" id="context" name="context" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a id="plus" onclick="SearchPlus()" class="btn btn-default">查询</a>
                        <button id="reset"  type="reset" class="btn btn-default">重置</button>
                        <button id="qx" type="button" class="btn btn-default" >取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body">
        <table data-url="json/data_alae_list.json" id="table" class="table_style" style="margin: 0 auto" ></table>
    </div>
</div>

<script src="js/jquery/jQuery-2.2.0.min.js"></script>
<script src="js/bstable/js/bootstrap.min.js"></script>
<script src="js/bstable/js/bootstrap-table.js"></script>
<script src="js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="js/date/js/laydate.js"></script>

<script type="text/javascript">


   function SearchPlus(){
       var context=$("#context").val();
       var startTime=$("#startTime").val();
       var endTime=$("#endTime").val();
       var userCode=$("#userCode").val();
       var model=$("#model").val();
       $.ajax({
           type: "post",
           contentType: "application/x-www-form-urlencoded",
           url: "searchPlusLog",
           data: {context : context,startTime:startTime,endTime:endTime,userCode:userCode,model:model},
           dataType:"json",
           success : function(json) {
               $("#table").bootstrapTable('load', json);//主要是要这种写法
               $("#reset").trigger("click");
               $('#b').toggle();
           }
       });
   }

    $(function () {
        $('#search-plus,#qx').click(function () {
            $('#b').toggle();
        });

        $("#search").keydown(function() {
            if (event.keyCode == "13") {//keyCode=13是回车键
                var gj=$("#search").val();
                if(!$.isEmptyObject(gj)){
                    $.ajax({
                        type: "post",
                        contentType: "application/x-www-form-urlencoded",
                        url: "searchLog",
                        data: {context : gj},
                        dataType:"json",
                        success : function(json) {
                            $("#table").bootstrapTable('load', json);//主要是要这种写法
                        }
                    });
                }else {
                    $.ajax({
                        type: "post",
                        contentType: "application/x-www-form-urlencoded",
                        url: "Operation",
                        dataType:"json",
                        success : function(json) {
                            $("#table").bootstrapTable('load', json);//主要是要这种写法
                        }
                    });
                }

            }
        });

        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: "Operation",
            dataType: "json",
            pageList: [1,2,5,10],
            pagination: true, //分页
            pageSize: 3,
            pageNumber: 1,
            search: false, //显示搜索框
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数，都是可以自动从控件获得
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    search : params.searchText,
                    sortName : params.sortName,
                    sortOrder : params.sortOrder,
                };
                return param;
            },
            strictSearch: true,
            contentType: "application/x-www-form-urlencoded",
            showRefresh: false,
            queryParams: null,
            columns: [
                {
                    title: "操作人",
                    field: 'userCode',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '操作时间',
                    field: 'olDate',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '操作单位',
                    field: 'olCompany',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '模块',
                    field: 'olModule',
                    align: 'center'
                },
                {
                    title: '操作类型',
                    field: 'olType',
                    align: 'center'
                },
                {
                    title: '操作内容',
                    field: 'olContext',
                    align: 'center'
                }
            ]
        });
    })

</script>
<script src="js/layer_v2.1/layer/layer.js"></script>
<script>
    function openlayer(id){
        layer.open({
            type: 2,
            title: '添加信息',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
//            maxmin: true,
            closeBtn:1,
            area: ['98%', '92%'],
            shadeClose: true,
            closeBtn: 1,
            content: 'lay01.html'
            //iframe的url
        });
    }
</script>
<script>
    $(function () {
        $(".find_span").click(function () {
            $("#open").show();
            $(this).hide();
            $(".find_span1").show();
            $("#but_close02").hide();
            $("#but_open").hide();

        })
        $(".find_span1").click(function () {
            $("#open").hide();
            $(this).hide();
            $(".find_span").show();
            $("#but_open").show();
            $("#but_close02").show();

        })

    })
</script>

</body>
</html>
